/* Layout (CSS)

Position & style text of title
Position & style player at start - DONE (would prefer in foreground)
Position & style water, shore, moon, stars - IN PROGRESS
Position & style text of dialogue
Position & style text of score tracking
Place & style shore, portal at end */

body {
    width: 1500px;
    padding-top: 50px;
    margin: 0 auto;
    background-color: black;
}

.window {
    background-color: black;
    height: 900px;
    width: 1500px;
    border: 15px solid goldenrod;
}

#boat {
    height: 150px;
    width: 150px;
    top: 660px;
    padding-left: 1200px;
    position: absolute;
}

#ferryman {
    height: 118px;
    width: 80px;
    top: 40px;
    left: 100px;
    position: relative;
    transform: scaleX(-1);
}

#moon {
    height: 150px;
    width: 150px;
    top: 200px;
    left: 250px;
    position: absolute;
}

#shore {
    position: relative;
    top: 322px;
    left: 1100px;
    width: 400px;
    height: 400px;
}

#shore1 {
    position: relative;
    top: 322px;
    right: 404px;
    width: 400px;
    height: 400px;
}

#portal {
    right: 824px;
    height: 200px;
    top: 130px;
    position: relative;
}


#player {
    position: relative;
    left: 1400px;
    top: 510px;
    height: 150px;
    width: 150px;
}

.flex-container {
    display: flex;
    position: absolute;
    top: 50px;
}

.dialogue {
    position: relative;
    height: 200px;
    width: 400px;
    left: 500px;
    top: 300px;
    border: 10px double solid red;
    border-style: double;
    color: goldenrod;
    text-shadow: 5px 5px red;
    font-family: 'Aboreto', cursive;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;

}
.water {
    background-color: darkblue;
    width: 1500px;
    height: 179px;
    top: 810px;
    position: absolute;
}

/* .question {
    display: flex;
    flex-flow: column;
    color: goldenrod;
    
} */

#playerResponse {
    background-color: black;
    color: goldenrod;
    font-family: 'Aboreto', cursive;
    text-align: center;
    font-size: 40px;
    border-color: red
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    width: 250px
}

nav, footer {
    color: goldenrod;
    font-family: 'Aboreto', cursive;
    text-align: center;
    font-size: 22px;
}

button {
    background-color: goldenrod;
    font-family: 'Aboreto', cursive;
    border-color: silver;
    height: 30px;
    display: inline;
    margin: 20px;
    font-size: 20px;
}